<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/rails_default' %>
    <!-- layoutから_shimファイルを探し出して表示 -->
    <%= render 'layouts/shim' %>
  </head>
  <body>
    
    <!--layoutから_headerファイルを探し出して表示-->
    <%= render 'layouts/header' %>
    
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      
      <!--サイトのレイアウトにデバッグ情報を追加する-->
      <!--if Rails.env.development は本番環境に展開したアプリケーションではデバッグ情報を表示したくないのため-->
      <%= debug(params) if Rails.env.development? %>
    </div>
    
</body>
  
</html>