<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/rails_default' %>
    <!-- layoutから_shimファイルを探し出して表示 -->
    <%= render 'layouts/shim' %>
  </head>
  <body>
    
    <!--layoutから_headerファイルを探し出して表示-->
    <%= render 'layouts/header' %>
    
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    
</body>
  
</html>